#first ignore everything
/*
# "un-ignore in the root folder
!.gitignore
!.codedocs
!doxygen.config
!*.md
!*.m
!*.fig
!*mantis1.jpeg
!*LU_data_v2.mat
!*MAPS.mat
!*MantisServer.opt

# "un-ignore the Local folder =========Local========
!/Local
#Now ignore all the content of the folder Local
/Local/*
#Un-ignore the source code
!/Local/*.md
!/Local/*.sh

# "un-ignore the gis_data folder =========gis_data========
!/gis_data

# "un-ignore the pyCode folder =========pyCode========
!/pyCode
#Now ignore all the content of the folder pyCode
/pyCode/*
#Un-ignore the source code
!/pyCode/*.py

!/CPP
/CPP/*
!/CPP/MantisServer
/CPP/MantisServer/*
!/CPP/MantisServer/config.dat
!/CPP/MantisServer/MantisServer
/CPP/MantisServer/MantisServer/*
!/CPP/MantisServer/MantisServer/*.cpp
!/CPP/MantisServer/MantisServer/*.h

!/CPP/TestClient
/CPP/TestClient/*
!/CPP/TestClient/TestClient
/CPP/TestClient/TestClient/*
!/CPP/TestClient/TestClient/*.cpp
!/CPP/TestClient/TestClient/*.h
