#first ignore everything
/*
# "un-ignore in the root folder
!.gitignore
!.codedocs
!*.md
!*.m
!*.fig
!*mantis1.jpeg
!*mantis1_logo.jpg
!*LU_data_v2.mat
!*MAPS.mat
!*MantisServer.opt

# "un-ignore the Local folder =========Local========
!/Local
#Now ignore all the content of the folder Local
/Local/*
#Un-ignore the source code
!/Local/*.md
!/Local/*.sh
!/Local/SWAT_LULC.csv

# "un-ignore the URFSprep folder =========URFSprep========
!/URFSprep
#Now ignore all the content of the folder Local
/URFSprep/*
#Un-ignore the usefull files
!/URFSprep/*.m
!/URFSprep/*.mat

# "un-ignore the gis_data folder =========gis_data========
!/gis_data

# "un-ignore the pyCode folder =========pyCode========
!/pyCode
#Now ignore all the content of the folder pyCode
/pyCode/*
#Un-ignore the source code
!/pyCode/*.py

!/CPP
/CPP/*
!/CPP/MantisServer
/CPP/MantisServer/*
!/CPP/MantisServer/*.sln
!/CPP/MantisServer/*.ini
!/CPP/MantisServer/config.ini
!/CPP/MantisServer/MantisServer
/CPP/MantisServer/MantisServer/*
!/CPP/MantisServer/MantisServer/*.cpp
!/CPP/MantisServer/MantisServer/*.h
!/CPP/MantisServer/MantisServer/CMakeLists.txt
!/CPP/MantisServer/MantisServer/*.vcxproj
!/CPP/MantisServer/MantisServer/*.vcxproj.filters
!/CPP/MantisServer/MantisServer/mantisserver.dox
!/CPP/MantisServer/MantisServer/*.md

!/CPP/TestClient
/CPP/TestClient/*
!/CPP/TestClient/*.sln
!/CPP/TestClient/incomingMsg.dat
!/CPP/TestClient/TestClient
/CPP/TestClient/TestClient/*
!/CPP/TestClient/TestClient/*.cpp
!/CPP/TestClient/TestClient/CMakeLists.txt
!/CPP/TestClient/TestClient/*.h
!/CPP/TestClient/TestClient/*.vcxproj
!/CPP/TestClient/TestClient/*.vcxproj.filters

!/CPP/BIN
/CPP/BIN/*
!/CPP/BIN/*.exe
!/CPP/BIN/*.dll


